<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IFilterService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://vaio/FilterService/FilterService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFilterService"
                contract="FilterServiceReference.IFilterService" name="BasicHttpBinding_IFilterService" />
        </client>
    </system.serviceModel>
</configuration>