<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IFilterService" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_INewsletterService" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_IFeedService" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://vaio/FeedService/FeedService.svc" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IFeedService" contract="FeedServiceReference.IFeedService"
          name="BasicHttpBinding_IFeedService" />
      <endpoint address="http://vaio/NewsletterService/NewsletterService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INewsletterService" contract="NewsletterServiceReference.INewsletterService" name="BasicHttpBinding_INewsletterService"/>
      <endpoint address="http://vaio/FilterService/FilterService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFilterService" contract="FilterServiceReference.IFilterService" name="BasicHttpBinding_IFilterService"/>
    </client>
  </system.serviceModel>
</configuration>
