<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IFeedService" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
                <binding maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://vaio/FeedService/FeedService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IFeedService" contract="FeedServiceReference.IFeedService"
                name="BasicHttpBinding_IFeedService" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
