<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_INewsletterService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://vaio/NewsletterService/NewsletterService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INewsletterService"
                contract="NewsletterServiceReference.INewsletterService" name="BasicHttpBinding_INewsletterService" />
        </client>
    </system.serviceModel>
</configuration>